<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Deletion</title>
    <style>
      body { color: #09090b;font-size: 1rem; } .email-container { border:2.5px
      solid #f4f4f5; max-width: 600px; margin: auto; padding: 1.25rem;
      border-radius: calc(0.5rem * 2); } .email-header { font-size: 1.5rem;
      margin-bottom: 1.25rem; font-weight: bold; } .email-body { line-height:
      1.5; } .email-footer { font-size: .85rem; color: #f4f4f5; margin-top:
      2rem; text-align: center; }

    </style>
  </head>
  <body>
    <div class="shadow">
      <div class="email-container">
        <div class="email-header">
          ISeeUAP
        </div>
        <div class="email-body">
          {{{body}}}
        </div>

      </div>
    </div>
  </body>
</html>